.register__wrapper {
  margin-top: 20px;
}
.r__form {
  margin-top: 5px;
}

.r__form input {
  padding: 10px;
  padding-left: 30px;
  margin: 3px;
  background-color: #f1f1f1;
  outline: none;
  border: 1px solid black;
}

.r__button {
  background-color: #ffa030;
}
