.dash__content__wrapper{
    
    min-height: 320px;

}

.dash__content{
    min-height: 300px;
}
.dash__content ul{
    display: flex;
    justify-content: right;
    align-items: center;
}

.dash__content ul li{
    list-style-type: none;
    padding: 20px;
}

.dash__content ul li:hover{
    border-bottom: 2px solid steelblue;
}

.dash__content ul li a{
    text-decoration: none;
    color: white;
}

.Dbutton__part{
    position: absolute;
    top:  250px;
    margin-right: 30px;
}

.Dbutton__part h3{
    justify-content: center;
    text-align: center;
}
.Dbutton__part button{
    padding: 8px;
    background-color: #ff9b41;
    border: none;
}
/* .dash_filter__option{
    box-sizing: border-box;
} */
.dash__filter h5{
    text-align: left;
}
.dash_filter__option p{
    margin-right: 20px;
}
.filter__button {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.filter__button .filter__item{
    margin: 3px;
    padding: 8px;
    min-width: 180px;
    min-height: 5px;
}

@media screen and (max-width: 768px) {
    .filter__button{
        flex-direction: column;
    }
}